@import "tailwindcss";
@theme {
  --animate-blink: blink 0.3s infinite;
  @keyframes blink {
    0%,
    49% {
      opacity: 1;
    }
    50%,100% {
      opacity: 0;
    }
  }
}
@layer utilities {
  @keyframes trailFade {
    0% {
      opacity: 0.9;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.3);
    }
  }

  .animate-trailFade {
    animation: trailFade 0.6s ease-out forwards;
  }
}